App_WebReferences/ServiceReference1/lyfePorts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://lyfeofall.vicp.io:80" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://lyfeofall.vicp.io:80" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://lyfeofall.vicp.io:80">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="outputaa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="outputaaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="outputaaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checklogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userpwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkloginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkloginResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errormsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="outputaaSoapIn">
    <wsdl:part name="parameters" element="tns:outputaa" />
  </wsdl:message>
  <wsdl:message name="outputaaSoapOut">
    <wsdl:part name="parameters" element="tns:outputaaResponse" />
  </wsdl:message>
  <wsdl:message name="checkloginSoapIn">
    <wsdl:part name="parameters" element="tns:checklogin" />
  </wsdl:message>
  <wsdl:message name="checkloginSoapOut">
    <wsdl:part name="parameters" element="tns:checkloginResponse" />
  </wsdl:message>
  <wsdl:portType name="lyfePortsSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="outputaa">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">测试接口</wsdl:documentation>
      <wsdl:input message="tns:outputaaSoapIn" />
      <wsdl:output message="tns:outputaaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checklogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">高仿登录方法</wsdl:documentation>
      <wsdl:input message="tns:checkloginSoapIn" />
      <wsdl:output message="tns:checkloginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="lyfePortsSoap" type="tns:lyfePortsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://lyfeofall.vicp.io:80/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="outputaa">
      <soap:operation soapAction="http://lyfeofall.vicp.io:80/outputaa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checklogin">
      <soap:operation soapAction="http://lyfeofall.vicp.io:80/checklogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="lyfePortsSoap12" type="tns:lyfePortsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://lyfeofall.vicp.io:80/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="outputaa">
      <soap12:operation soapAction="http://lyfeofall.vicp.io:80/outputaa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checklogin">
      <soap12:operation soapAction="http://lyfeofall.vicp.io:80/checklogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="lyfePorts">
    <wsdl:port name="lyfePortsSoap" binding="tns:lyfePortsSoap">
      <soap:address location="http://lyfeofall.vicp.io/lyfePorts.asmx" />
    </wsdl:port>
    <wsdl:port name="lyfePortsSoap12" binding="tns:lyfePortsSoap12">
      <soap12:address location="http://lyfeofall.vicp.io/lyfePorts.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>